{% extends 'vortaro/bazo.html' %}

{% block enhavo %}
    <div class="radiko">
        <h3><a href="{% url 'radikpaĝURLo' radikURLeraro=radiko.eraro %}">{{ radiko.eraro }}</a></h3>
        <hr>
        <a class="btn btn-default" href="{% url 'proponaldonURLo' radikURLeraro=radiko.eraro %}">Aldoni proponon</a>
        {% for propono in radiko.proponoj.all %}
            <div class="propono">
                <a class="btn btn-default" href="{% url 'proponforigURLo' radikURLeraro=radiko.eraro proponURLeraro=propono.eraro %}"><span class="glyphicon glyphicon-remove"></span></a>
                <p>{{ propono.eraro|linebreaks }}</p>
            </div>
        {% empty %}
            <p>Ankoraŭ ne troviĝas proponoj :(</p>
        {% endfor %}
    </div>
{% endblock %}